{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/main_bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Scroll down to know who I'm and what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I'm a graduate student pursuing Masters in Computer Science with a specialization in Artificial Intelligence and Machine Learning.
          I'm currently residing in Buffalo, New York.
        </p>
        <p>
          As part of my pursuit in the field of Computer Science, I try to turn some cool ideas that strike me, into real applications. BlogHub is one such initiative,
        </p>
        <p>
          This is a space I've developed for sharing my thoughts in the form of blogs. Feel free to share your 2 cents.
          Stay kind and creative! Happy Blogging!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
